<h1>
  Blogs
  <%= link_to "New Blog", "/blogs/new", class: "btn btn-primary float-end" %>
</h1>

<div class="row">
  <% @blogs.each do |blog| %>
    <div class="col-md-4">
      <div class="card" style="margin: 15px;">
        <% if blog.image? %>
          <%= link_to (image_tag(blog.image.url, alt: "Image", class: "card-img-top", style: "height: 200px;")), blog %>
        <% else %>
          <%= image_tag("blog.svg", alt: "Image", class: "card-img-top", style: "height: 200px;") %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= blog.title %></h5>
          <p class="card-text"><%= blog.description.truncate(100) %></p>
          <div class="card-title"><%= blog.user.email %></div>
        </div>
      </div>

      <%= link_to like_blog_path(blog), class: "btn btn-info Like", remote: true do %>
       <span class="fa fa-thumbs-up text-white" aria-hidden="true"></span>
       <span class="badge"><%= blog.get_upvotes.size %></span>
      <% end %>

      <%= link_to dislike_blog_path(blog), class: "btn btn-info DisLike", remote: true do %>
       <span class="fa fa-thumbs-down text-white" aria-hidden="true"></span>
       <span class="badge"><%= blog.get_downvotes.size %></span>
      <% end %>
   </div>
  <% end %>
</div>